.graph-section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    margin: 0;
    padding: 0;
}

.graph-section__graph {
    width: 45%;
}

.graph-section__main-procedure {
    width: 23%;
}

.graph-section__sub-procedure {
    width: 22%;
}