.graphLayout {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.graph {
    width: 40%;
}

.graphBox {
    height: 2rem;
    width: 40%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.pseudoCode {
    width: 30%;
}

.procedure {
    width: 30%;
}

.top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-panel__element {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.bottomPanel {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.demo-step {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 0 1rem;
}

.demo-step__column1{
    display: flex;
    flex-direction: column;

    width: 60%;
}

.demo-step__column2{
    margin: 1rem 0 0 0;
}

.demo-step__row {
    display: flex;
    flex-direction: row;
}

.demo-step__input-group {
    margin: 0 0 1rem 0;
    width: 20rem;
}

.demo-step__button {
    width: 38.5rem;
}
